body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px 232px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    /*three lines below will center the logo vertically*/
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

li {
    font-size: 18px;
}

.hero-section {
    background-color: #1F2937;
    padding: 104px 232px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

img {
    width: 500px;
    height: 264px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.hero-text {
    margin-top: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-left-side {
    padding-right: auto;
    max-width: 450px;
}

.hero-button {
    padding: 8px 32px;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.information {
    padding: 50px 232px 104px 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 50px;
}

.info-placeholder {
    max-width: 150px;
    min-height: 150px;
    border: 3px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 10px;  
}

.info-group {
    max-width: 150px;
    text-align: center;
}

.info-steps {
    display: flex;
    gap: 50px;
}

.info-text {
    color: #1F2937;
}

.quote {
    background-color: #e5e7eb;
    padding: 104px 352px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    align-self: center;
}

.quote-author {
    color: #1F2937;
    font-weight: 800;
    font-size: 22px;
    align-self: flex-end;
}

.cta-section {
    margin: 104px 232px;
    padding: 48px 104px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: #F9FAF8;
}

.cta-button {
    padding: 8px 32px;
    background-color: #3882F6;
    border: 3px solid #F9FAF8;
    border-radius: 10px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 600;
}

h2 {
    margin: 0;
    padding: 0;
}