body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px 232px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    /*three lines below will center the logo vertically*/
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

li {
    font-size: 18px;
}

.hero-section {
    background-color: #1F2937;
    padding: 84px 232px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

img {
    width: 500px;
    height: 264px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.hero-right-side {
}

.hero-text {
    margin-top: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-left-side {
    padding-right: auto;
    max-width: 450px;
}

.hero-button {
    padding: 8px 32px;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}